@use '@/styles/variables' as *;
@use '@/styles/breakpoints' as *;

.character-detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;

  &__image-wrapper {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__status-badge {
    position: absolute;
    z-index: 1;
    width: 120;
    display: inline-flex;
    align-items: center;
    border-radius: 0.6rem;
    padding: 0.3rem;
    gap: 0.5rem;
    background-color: rgba($background-color, 0.8);
    top: 10%;
    left: 1.5rem;

    &-label {
      text-transform: uppercase;
    }
  }

  &__details {
    z-index: 1;
    padding: 0.5rem 1.5rem 1rem;
    background-color: rgba($background-color, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
  }

  &__name {
    font-size: 1.25rem;
    font-weight: 400;
    color: $secondary-color;
  }

  &__meta {
    margin-top: 0.5rem;
  }

  &__info {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 0.5rem;

    &-item {
      text-align: center;
    }

    &__label {
      color: $secondary-color;
      line-height: 2;
    }

    &__value {
      color: $primary-color;
    }
  }

  @include mobile() {
    height: 290px;

    &__details {
      height: 150px;
    }

    &__meta {
      display: flex;
      gap: 0.5rem;
      margin-top: 0;
    }

    &__info-item {
      text-align: start;
    }
  }
}
