@use '@/styles/variables' as *;
@use '@/styles/breakpoints' as *;

$active-card: 2px solid $secondary-color;

.character-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  text-align: center;
  padding: 0.5rem 1.5rem;
  background-color: $surface-color;
  border-radius: 1.5rem;
  box-shadow: 15px 15px 30px 0px $background-color;
  cursor: pointer;

  &:hover {
    background-color: $grey;
    outline: $active-card;
  }

  &--selected {
    outline: $active-card;
  }

  &__name {
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__favorite {
    align-items: center;
    background-color: transparent;
    border: none;
    color: $primary-color;
    cursor: pointer;
    display: inline-flex;
    gap: 0.5rem;

    &--active {
      color: $red;
    }

    &-label {
      font-weight: 600;
    }
  }
}
