@use './variables' as *;

/*
 * Resets
 */
*,
*:before,
*:after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

/*
  * Global
  */
html,
body {
  background-color: $background-color;
  color: $primary-color;
  font-size: 100%;
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
