@use '@/styles/breakpoints' as *;

.header {
  width: 100%;
  padding: 3rem 0 0;
  position: relative;
  flex: 1;

  &__logo {
    position: absolute;
    right: 15%;
  }

  @include mobile() {
    text-align: center;
    padding-top: 1rem;
    flex: 0;

    &__logo {
      position: unset;
    }
  }
}
