.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
