@use '@/styles/breakpoints' as *;

.footer {
  height: 150px;
  width: 100%;
  background: linear-gradient(180deg, #9edf25 3.03%, #1e2e00 177.63%);
  position: absolute;
  z-index: 0;
  bottom: 0;

  @include mobile() {
    height: 50px;
  }
}
