@use '@/styles/variables' as *;

.text-field {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem 1.5rem;
  border: 1px solid $secondary-color;
  border-radius: 0.5rem;
  background-color: transparent;
  color: $secondary-color;
  min-width: 50px;
  width: fit-content;

  &:hover {
    outline: 2px solid $secondary-color;
  }

  &__input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: inherit;
    font-size: 1rem;

    &::placeholder {
      color: rgba($secondary-color, 0.7);
    }
  }
}
