@use '@/styles/variables' as *;

.favorite-list {
  list-style: none;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
    background-color: #9c9c9c;
    border: 1px solid #494949;

    &-text {
      text-transform: uppercase;
    }

    &-icon {
      cursor: pointer;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}
